<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Response</title>
</head>
<body>
    <h1>Form Submission Details</h1>
    <p>Name: <%= Name %></p>
    <p>Email: <%= Email %></p>
    <p>Subject: <%= Subject %></p>
    <p>Message: <%= Message %></p>
</body>
</html>